<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd"
	xml:lang="en" lang="en">
<body>
	<wicket:extend>
		<h1>Customer Data</h1>
		<form wicket:id="myForm">

			<div wicket:id="personalDataPanel"></div>
			<div wicket:id="adressDataPanel"></div>

			<div class="container">
				<input type="button" wicket:id="checkButton" value="check input">
				<input type="submit" wicket:id="mySubmitButton" value="submit">
			</div>
		</form>
	</wicket:extend>
</body>
</html>